/** fruitcombo.css
    place in same directory as FruitComboApplication.java 
    ensure build system copies the css file to the build output path */

.layout { 
  -fx-background-color: cornsilk;
}

#selected-fruit-frame {
  -fx-border-color: burlywood;
  -fx-border-width: 5;
  -fx-background-color: white;
}

.bold-label {
  -fx-font-weight: bold;  
}